/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('alcanzala-tranquilidad-pastoral-9oitratl6gd996za.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el fondo *//*
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #fff;
}*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('alcanzala-tranquilidad-pastoral-9oitratl6gd996za.jpg');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #fff;
}

header {
    text-align: center;
    background-color: #333;
    color: 0, 0, 0;
    padding: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.content-container {
    background-color: #333; /* Agrega el color de fondo deseado */
    border-radius: 15px; /* Ajusta el radio de las esquinas para hacerlas redondas */
    overflow: hidden; /* Asegura que los bordes redondos se apliquen correctamente */
}

.tab-content {
    display: none;
    padding: 20px;
}

section h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


